:root {
  /* background-color: #242424; */
  background-color: #fff;
  color: black;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: fit-content;
}

a.active {
  background-color: red;
  border-radius: 10px;
  border: solid 1px;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  min-height: 400px;
  text-align: start;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
  background-color: #fff;
  /* border-radius: 10px; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: fixed; */
  z-index: 999;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

/* ------------------------------- */
.slider-frame {
  overflow: hidden;
  height: 700px;
  width: 100%;
  background-color: aliceblue;
}
/* ------------------------------- */
@keyframes slide-animation {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-700px);
  }
  100% {
    transform: translatey(-1400px);
  }
}
.slide-image {
  padding: 0px;
  animation-name: slide-animation;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.slide-image img {
  object-fit: cover;
  width: 100%;
  /* height: 100vh; */
  padding: 0px;
}
/* ------------------------------------------------ */
.addition_services {
  background-color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.service-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.service-container {
  height: fit-content;
  width: fit-content;
}
/* ---------------------------------------- */
.paragraph {
  background-color: whitesmoke;
  text-align: center;
}
.aboutus-container {
  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}
.paragraph-container {
  width: 50%;
  font-size: large;
}
.about-image img {
  object-fit: cover;
  width: 550px;
  height: 600px;
  border-radius: 25px;
}

/*----------------------------------  */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  width: 100%;
  font-size: larger;
  color: white;
  background-color: #242424;
}

footer img {
  width: 35px;
  height: 35px;
  margin-left: 10%;
}

/* =--------ROOM----------------- */
.room-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  z-index: 1000;

  /* position:  relative; */
}

.TowerA img {
  width: 100%;
  height: 250px;
}
.TowerA {
  text-align: start;
  width: 280px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px;
  padding: 10px;
}
.TowerA p {
  text-align: start;
  text-indent: 5%;
}
/* -------------ROOM DETAILS---------- */
.Room-Container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Room-Container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.roomfeature img {
  width: 20px;
  height: 20px;
}
.roomfeature {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.roomfeature > div {
  border-bottom: #242424 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.Room-info {
  width: 40%;
  text-align: start;
}

/* -----------Additional Services--------- */
.room-info-service-card img {
  width: 35px;
  height: 35px;
}
.room-info-service-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.room-info-service-card > div {
  border-bottom: #242424 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 20px;
}
.room-info-service-card > div:hover {
  background-color: blue;
  border-radius: 20px;
  border: solid 1px;
  padding: 2px;
}
.room-info-service-card > div img {
  background-color: white;
  border-radius: 20px;
  border: solid 1px;
  padding: 10px;
}
/* -----------Additional Services--------- */
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Room-info-button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
}

.Room-info h1 {
  text-align: center;
}
.Room-info p {
  text-align: left;
}

/* /--------------------LOGIN-------------- */
.login-container h2,
p {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: start;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* ------------------RES */
/* CSS for Reservation Form */

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
}

.form-container {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
}
.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="date"],
.form-wrapper input[type="datetime-local"],
.form-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.formErrorMessage {
  padding: 0px;
  margin: 0px;
  color: crimson;
  text-align: start;
}

/* ----------- Table --------- */

.customer-receipt-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.customer-receipt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.customer-receipt-container main {
  border: #242424 solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 24px;
  min-width: 40%;
}
.customer-receipt-header {
  margin: 0px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
}

.gust-info {
  display: flex;
  width: 400px;
}

.guest-description,
.calucation-description {
  width: 50%;
  text-align: start;
}
.calucation-detail,
.guest-detail {
  width: 50%;
}
.calucation-detail p,
.guest-detail p {
  text-align: end;
}

.calucation-info {
  display: flex;
  /* justify-content: space-evenly; */
  width: 400px;
}
.calucation-info h4,
p,
.gust-info h4,
p {
  padding: 10px;
  margin: 0px;
}

.receipt-button {
  display: flex;
  min-width: 40%;
  gap: 10px;
}
.confirm {
  background-color: rgb(77, 128, 27);
  font-weight: 600;
  font-size: larger;
}
.not-confirm {
  background-color: red;
  font-weight: 600;
  font-size: larger;
}

/* --------------Guest Form------------------ */
.guestprofile-wrapper {
  width: 650px;
  padding: 10px;
  background-color: white;
  height: fit-content;
  min-height: 50vh;
  /* border: solid 1px; */
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.guestprofile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
}
.guestprofile-container input {
  width: 100%;
}
.guestform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 90%;
  margin: auto;
}
.fisrtandlastname {
  display: flex;
  gap: 40px;
}

/* -----------------EMPlOYEE NAVBAR-------------------- */
.employeeBody {
  display: flex;
  min-height: 100vh;
}

.navbar-employee {
  background-color: #002244;
  width: 20%;
  position: relative;
  font-size: 18px;
  color: darkgrey;
}
.navbar-wrappper {
  margin-top: 100px;
  position: fixed;
  width: 14.7%;
}

.navbar-employee img {
  color: white;
  width: 30px;
  height: 30px;
}
.section {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  justify-content: center;
}
.item {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.active {
  border-left: lightskyblue solid 5px;
  color: white;
  font-size: large;
  background-color: darkblue;
}
.container-employee {
  width: 100%;
  /* height: 100vh; */

  background-color: aliceblue;
}

/* ---------------EMPLOYEE VIEW */

.overview {
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  text-indent: 3%;
  margin-top: 30px;
  padding: 0px;
}

.employee-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.employee-number {
  width: 30%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-number-wap > h4 {
  color: gray;
  padding: 0px;
  margin: 0px;
  font-size: x-large;
}
.employee-number-wap > h2 {
  padding: 0px;
  margin: 10px 0px;
  font-size: xx-large;
}
.employee-number-wap {
  width: 60%;
  padding: 0px 10px;
}

.employee-number > img {
  width: 50px;
  height: 50px;
  background-color: lightskyblue;
  border-radius: 50%;
  padding: 10px;
}
/* Employee Table  */
.reservation-table-container {
  margin: 35px;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: center;
  /* border-radius: 100px; */

  background-color: white;
}

.reservation-table th,
.reservation-table td {
  padding: 8px;

  border: 1px solid #ddd;
}

.reservation-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.reservation-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reservation-table tbody tr:hover {
  background-color: #ddd;
}

.pagination {
  margin: 10px;
  height: fit-content;
}

.activePage {
  width: 40px;
  background-color: lightskyblue;
  padding: 8px;
  color: #242424;
  /* border-radius: 20px; */
}
.notactivePage {
  cursor: pointer;
  margin: 10px;
  width: 40px;
  padding: 8px;
  color: #242424;
  /* border-radius: 20px; */
}

.twoStepAuthentication {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FactorauthenTication {
  width: 380px;
  height: 380px;
  border: solid 1px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FactorauthenTication input {
  height: 40px;
}

/* Bill table */
.receipt-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: center;
  /* border-radius: 100px; */

  background-color: white;
}

.receipt-table th,
.receipt-table td {
  padding: 8px; /* Add padding for better spacing */
}

.receipt-table hr {
  margin-left: 0;
  height: 1px;
}

/* loyalty_point */

.welcome {
  margin: 0px;
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 3000;
}

.welcomename {
  color: darkcyan;
  letter-spacing: 0.2ch;
}

.right-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.loyalty_points {
  border: solid 1px black;
  text-align: center;
  width: 60%;
  background-color: slategray;
  color: white;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.rewards_list {
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  width: 50%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;

  color: black;
  border: 1px solid;
  border-radius: 10px;
  background-color: slategrey;
}

.rewards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.loyalty_points h4,
.rewards_list h4 {
  color: black;
  font-size: x-large;
  font-weight: 1000;
  margin: 2px;
  padding: 2px;
  background-color: white;
}

.rewards .reward-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  background-color: #ccc;
}
.reward-wrapper p {
  margin: 0px;
  padding: 0px;
}

.rewards img {
  width: 50px;
}

.reservation_list {
  width: 300px;
  height: 150px;
  border: 1px solid;
}

.bill {
  width: 300px;
  height: 150px;
  border: 1px solid;
}

.bill_container {
  width: 500px;
  border: 1px solid;
}

.profile-navbar {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  background-color: #343a40;
  color: white;
  padding: 10px 0px;
  text-indent: 20px;
}

/* ---------HouseKeeper-------- */

.notificationNew {
  width: 90%;
  border-radius: 50px;
  background-color: greenyellow;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  cursor: pointer;
}

.housekeeperContainer {
  width: 80%;
  margin: auto;
}

.housekeeperContainer h1 {
  text-align: center;
}

.reservation-table tbody tr:nth-child(even) {
  background-color: lavender;
}

.reservation-table tbody tr:nth-child(odd) {
  background-color: lightblue;
}
